<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Robot</title>
  </head>
  <body>
    <form class="addition" action="/users/new" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="tel" name="telephone" placeholder="Telephone">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
